swagger: "2.0"
################################################################################
#                              API Information                                 #
################################################################################
info:
  version: 2.0.0
  title: Pananames.com Merchant's API
  description: |
    This manual describes the API commands for domain handling.



    ### Endpoint

    All API access is over HTTPS, and accessed from the api.pananames.com domain

    ```
    https://api.pananames.com/v2/
    ```

    The server responds with *Content-type: application/json*

    ### API Key Security

    API keys grant full access to your Pananames account and should be protected the same way you would protect your password.
    You should generate API key for each IP. If a specific API key is compromised, you can disable that key without disabling access to all of your other integrations.

    ### Errors

    All error messages have same format.
    ```json
    {
      "error": {
        "code": 400,
        "message": "Bad request",
        "description": "JSON is invalid."
      }
    }
    ```

    These errors may be returned by all methods.

    HTTP Status | Error code | Message | Description
    - | - | - | -
    `400` | 400 | Bad Request | The request was invalid or cannot be served. The exact error should be explained in the error payload.
    `401` | 401 | Unauthorized | Merchant's signature wasn't provided or was invalid.
    `404` | 404 | Not found | There is no resource behind the URI.
    `500` | 500 | Internal Server Error | You should contact with support.

    You'll get back all other errors with `200` HTTP status code. Each method has its own list of errors with codes.

    ### Rate Limits
    Pananames API is rate limited.

    If an application abuses the rate limits, it will be blacklisted. Blacklisted apps are unable to get a response from the Pananames API.

################################################################################
#                  Host, Base Path, Schemes and Content Types                  #
################################################################################
host: api.pananames.com
basePath: /merchant/v2
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
################################################################################
#                                  Security                                    #
################################################################################
securityDefinitions:
  key:
    type: apiKey
    in: header
    name: signature
security:
  - key: []
################################################################################
#                                   Parameters                                 #
################################################################################
parameters:
  domain:
      name: domain
      in: path
      description: The fully qualified name of the domain.
      type: string
      required: true
      minLength: 3

paths:
  /check/{domain}:
    get:
      operationId: check
      description: |
        This command is used to determine if an object can be provisioned within a repository. It provides a hint that allows a client to anticipate the success or failure of provisioning an object using the create method, as object-provisioning requirements are ultimately a matter of server policy.

        When a check command has been processed successfully, the <resData> element MUST contain a child <domain:chkData> element that identifies the domain namespace. The <domain:chkData> element contains the following child element:

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Extensions
        Key | Type | Description
        - | - | -
        `claimKey` | string | Claim type.

        #### Blocking Status
        Non-blocking

      parameters:
        - $ref: '#/parameters/domain'
      responses:
        200:
          description: Information about queried domain avalibility, prices and extensions.
          schema:
            type: object
            required:
            - name
            - is_avaliable
            - is_premium
            - prices
            properties:
              name:
                type: string
                description: the fully qualified name of the queried domain object
              is_avaliable:
                type: boolean
                description: true value means that the object can be provisioned. false value means that the object can not be provisioned.
              is_premium:
                type: boolean
              prices:
                $ref: '#/definitions/Prices'
              extensions:
                type: object
                description: Dictionary with extensions values. See Extensions section in method description.

  /whois/{domain}:
    get:
      description: |
        Get WHOIS information of the domain name.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking

      parameters:
        - $ref: '#/parameters/domain'
        - name: public_preview
          in: query
          description: If privacy protection enabled, for see public data, set value to true
          type: boolean
          default: false

      responses:
        200:
          description: WHOIS information about queried domain.
          schema:
            type: object
            required:
              - domain
              - admin_contact
              - tech_contact
              - billing_contact
            properties:
              domain:
                $ref: '#/definitions/DomainInfo'
              registrant_contact:
                $ref: '#/definitions/ContactInfo'
              admin_contact:
                $ref: '#/definitions/ContactInfo'
              tech_contact:
                $ref: '#/definitions/ContactInfo'
              billing_contact:
                $ref: '#/definitions/ContactInfo'

  /domains:
    get:
      operationId: domainslist
      description: |
        Get domains list.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking.

      parameters:
        - name: page
          in: query
          required: true
          type: integer
          default: 1
          description: Current page number.
        - name: limit
          in: query
          type: integer
          default: 25
          description: Domains per page.

      responses:
        200:
          description: Paged domains list.
          schema:
            type: object
            required:
              - page
              - count
              - domains
            properties:
              page:
                type: integer
                description: Current page number.
              count:
                type: integer
                description: Total domains count.
              domains:
                type: array
                items:
                  $ref: '#/definitions/DomainInfo'
    post:
      description: |
        This command is sending request to register a domain name.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Blocking 3-5 sec.

      parameters:
        - name: payload
          in: body
          required: true
          schema:
            type: object
            required:
            - period
            - registrant_contact
            - admin_contact
            - tech_contact
            - billing_contact
            properties:
              period:
                type: integer
                description: Registration period in years.
              fee:
                type: number
                format: float
                description: Price to register premium domain. Required only for premium domains.
              registrant_contact:
                $ref: '#/definitions/ContactInfo'
              admin_contact:
                $ref: '#/definitions/ContactInfo'
              tech_contact:
                $ref: '#/definitions/ContactInfo'
              billing_contact:
                $ref: '#/definitions/ContactInfo'
      responses:
        200:
          description: OK
          schema:
            type: object
            required:
              - domain_name
            properties:
              domain_name:
                type: string
                description: The fully qualified name of the domain object.

  /domains/{domain}:

    parameters:
      - $ref: '#/parameters/domain'

    get:
      description: |
        Get domain.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking.

      responses:
        200:
          description: OK
          schema:
            type: object
    delete:
      description: |
        This command provides a transform operation that allows a client to delete a domain object. Domain object can be deleted at any time but only during first 5 (five) days it will be refunded by registry.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking.

      responses:
        200:
          description: OK
          schema:
            type: object

  /domains/{domain}/whois:
    put:
      description: |
        Set WHOIS information of the domain.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking

      parameters:
        - $ref: '#/parameters/domain'
        - name: payload
          in: body
          required: true
          schema:
            type: object
            required:
            - registrant_contact
            - admin_contact
            - tech_contact
            - billing_contact
            - privacy_enabled
            properties:
              privacy_enabled:
                type: boolean
                description: If true WHOIS privacy protection enabled
              registrant_contact:
                $ref: '#/definitions/ContactInfo'
              admin_contact:
                $ref: '#/definitions/ContactInfo'
              tech_contact:
                $ref: '#/definitions/ContactInfo'
              billing_contact:
                $ref: '#/definitions/ContactInfo'

      responses:
        200:
          description: WHOIS information about queried domain.
          schema:
            type: object

  /domains/{domain}/renew:
    put:
      description: |
        This command provides a transform operation that allows a client to extend the validity period of a domain object. Domain may be renewed only for a period 1 to 10 years.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking.

      parameters:
        - $ref: '#/parameters/domain'
        - name: payload
          in: body
          required: true
          schema:
            type: object
            required:
            - period
            properties:
              period:
                type: integer
                description: Registration period in years.
              fee:
                type: number
                format: float
                description: Price to register premium domain. Required only for premium domains.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DomainInfo'

  /domains/{domain}/redeem:
    put:
      operationId: redeem
      description: |
        Restore domain name during Redemption Grace Period.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking.

      parameters:
        - $ref: '#/parameters/domain'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DomainInfo'

  /transfersout:
    get:
      description: |
        Get list transfer out domains.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking
      responses:
        200:
          description: Transfer out domains list.
          schema:
            type: object
            required:
            - domains
            properties:
              domains:
                type: array
                items:
                  $ref: '#/definitions/DomainInfo'

    post:
      description: |
        Initialize transfer out process for domain.
        Domain will be unlocked and new auth code will be generated.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking

      parameters:
        - name: payload
          in: body
          required: true
          schema:
            type: object
            required:
            - domain
            properties:
              domain:
                type: string
      responses:
        200:
          description: Auth code for transfer.
          schema:
            type: object
            required:
            - auth_code
            properties:
              auth_code:
                type: string
    delete:
      description: |
        Cancel transfer out process for domain.
        Domain will be locked.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking

      parameters:
        - name: payload
          in: body
          required: true
          schema:
            type: object
            required:
            - domain
            properties:
              domain:
                type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/DomainInfo'

  /transfersin:
    get:
      description: |
        Get list transfer in domains.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking
      responses:
        200:
          description: Transfer in domains list.
          schema:
            type: object
            required:
            - domains
            properties:
              domains:
                type: array
                items:
                  $ref: '#/definitions/DomainInfo'

    post:
      description: |
        Initiate transfer in process for domain.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking

      parameters:
        - name: payload
          in: body
          required: true
          schema:
            type: object
            required:
            - domain
            - auth_code
            - registrant_contact
            - admin_contact
            - tech_contact
            - billing_contact
            properties:
              domain:
                type: string
              auth_code:
                type: string
              fee:
                type: number
                format: float
                description: Price to transfer premium domain
              registrant_contact:
                $ref: '#/definitions/ContactInfo'
              admin_contact:
                $ref: '#/definitions/ContactInfo'
              tech_contact:
                $ref: '#/definitions/ContactInfo'
              billing_contact:
                $ref: '#/definitions/ContactInfo'
      responses:
        200:
          description: OK.
          schema:
            type: object
            required:
            - domain
            properties:
              domain:
                $ref: '#/definitions/DomainInfo'
              clint_id:
                type: string
                description: The identifier of the client that SHOULD act upon a PENDING transfer request.
    delete:
      description: |
        Cancel transfer in process for domain.

        #### Errors
        Error code | Message | Description
        - | - | -
        XXX | Message | Description

        #### Blocking Status
        Non-blocking

      parameters:
        - name: payload
          in: body
          required: true
          schema:
            type: object
            required:
            - domain
            properties:
              domain:
                type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/DomainInfo'

################################################################################
#                                Definitions                                   #
################################################################################
definitions:

  Error:
    type: object
    required:
    - code
    - message
    properties:
      code:
        type: integer
        description: Unique error code
      message:
        type: string
        description: Error message
      description:
        type: string
        description: Error description

  Price:
    type: object
    required:
    - currency
    - register
    - renew
    - transfer
    properties:
      currency:
        type: string
        default: usd
        enum:
        - usd
        - eur
      register:
        type: number
        format: float
      renew:
        type: number
        format: float
      transfer:
        type: number
        format: float
      is_promo:
        type: boolean
        description: True if prices are promotional.

  Prices:
    type: object
    allOf:
    - $ref: '#/definitions/Price'
    - type: object
      properties:
        common:
          $ref: '#/definitions/Price'

  ContactInfo:
    type: object
    required:
    - org
    - name
    - email
    - address
    - city
    - state
    - zip
    - country
    - phone
    properties:
      org:
        type: string
        description: Contact organization
      name:
        type: string
        description: Contact name
      email:
        type: string
        description: Contact email
      address:
        type: string
        description: Contact address
      city:
        type: string
        description: Contact city
      state:
        type: string
        description: Contact state
      zip:
        type: string
        description: Contact zip
      country:
        type: string
        description: Contact country
      phone:
        type: string
        description: Contact phone
      country_code:
        type: string
        description: Contact country code

  DomainInfo:
    type: object
    required:
    - name
    - created
    - updated
    description: Information about domain
    properties:
      name:
        type: string
        description: The fully qualified name of the domain.
      created:
        type: string
        format: dateTime
        description: The date and time of domain object creation.
      updated:
        type: string
        format: dateTime
        description: The date and time of domain object updation.
      expiration:
        type: string
        format: dateTime
        description: The date and time identifying the end of the domain object's registration period.
      transfer_status:
        type: string
        enum:
          - unknown
          - pending
          - client approved
          - client rejected
          - client cancelled
          - server approved
          - waiting confirm
